#cartmain{background:lighten(pink,percentage(0.05));
    .carbody{padding-top:20px;
        .bodywrap{border:1px solid #DEDEDE;background:#fff;
            .wraphead{padding:10px 20px 0;height:50px;border-top:3px solid #FFC0C1;
                .headwrap{height:40px;line-height:40px;border-bottom:1px solid #DEDEDE;font-weight:bold;text-indent:30px;background:url('../img/cart/carticon.jpg')no-repeat 0 5px;}
            }
        }
        .wrapmain{padding:10px 20px;
            .mainnone{height:446px;background:url('../img/cart/cartnone.jpg')no-repeat;
                .nonetext{margin-left:600px;margin-top:100px;padding:5px 10px;width:310px;line-height:30px;border:1px solid #DEDEDE;background:#FFFAF9;}
            }
            table{width:100%;border:none;border-collapse:collapse;font-size:12px;
                tr.headrow{height:40px;line-height:40px;}
                tr.product{background:#F7F7F7;}
                td.img{width:130px;}
                td{padding:5px;text-align:center;}
                td.size{width:110px;
                    span{border:1px solid #000;width:20px;display:inline-block;line-height:auto;
                        &:nth-child(2){border-right:none;border-left:none;}
                        &:nth-child(1),&:nth-child(3){cursor:pointer;}
                    }
                }
                td.word{width:150px;}
                td.price{width:110px;}
                td.action{width:110px;}
            }
            .mainstat{margin:10px 0;width:1140px;height:40px;background:#F7F7F7;font-size:12px;
                .statleft{float:left;width:400px;height:40px;line-height:40px;
                    #totalcount{margin:0 5px;font-weight:bold;color:#C11E1F;}
                    a.gobuy{margin:0 20px;color:#DB3962;}
                }
                .statright{float:right;width:740px;height:40px;line-height:40px;text-align:right;
                    #totalmoney{margin:0 5px;font-size:16px;font-weight:bold;color:#C11E1F;}
                    .button{margin:0 15px;padding:4px 25px;color:#fff;cursor:pointer;}
                }
            }
        }
    }
}
#hottj{width:100%;padding:20px 0;
    .wraphead{padding:0 10px;height:34px;border-top:1px solid #DEDEDE;border-bottom:1px solid #DEDEDE;background:url('../img/cart/hotbg.png');
        .headleft{float:left;width:300px;height:34px;line-height:34px;font-weight:bold;text-indent:25px;background:url('../img/cart/lovebg.png')no-repeat;}
        .headright{float:right;padding-right:5px;width:300px;height:34px;line-height:34px;text-align:right;}
    }
    .wrapmain{margin-top:10px;padding:20px 10px;width:1178px;height:240px;border:1px solid #DEDEDE;
        .mainleft{float:left;width:29px;height:175px;background:url('../img/cart/hotleft.png')no-repeat center center;}
        .maincenter{overflow:hidden;position:relative;width:1092px;height:198px;float:left;
            ul{position:absolute;width:3276px;left:-1092px;
                li{float:left;width:182px;height:198px;
                    img{height:182px;}
                }
            }
        }
        .mainright{float:right;width:29px;height:175px;background:url('../img/cart/hotright.png')no-repeat center center;}
    }
}