/*------------------------productmain--------------------*/
.productmain { background: #f9f9f9; }

.productpath { height: 25px; line-height: 25px; font-size: 12px; padding-left: 10px; }

.productlist .listleft { float: left; }

.productlist .listleft .listwrap { border: 1px solid #CECECE; }

.productlist .listleft .listwrap .listhead { background: url("../img/ProductList/headbg.png"); height: 35px; width: 240px; font-size: 12px; font-weight: bold; text-indent: 10px; line-height: 35px; }

.productlist .listleft .listwrap .listnode { padding: 15px 19px 5px 19px; }

.productlist .listleft .listwrap .listnode .nodehead { width: 202px; height: 35px; line-height: 20px; font-weight: bold; font-size: 14px; }

.productlist .listleft .listwrap .listnode .nodehead span { display: inline-block; cursor: pointer; background: #ccc; color: #fff; text-align: center; margin-right: 9px; padding: 0 0 2px 2px; }

.productlist .listleft .listwrap .listnode .nodehead a { color: #000; font-weight: bold; }

.productlist .listleft .listwrap .listnode .nodehead a.red { color: red; }

.productlist .listleft .listwrap .listnode .nodeitem { margin-bottom: 15px; padding: 5px 0; width: 202px; line-height: 30px; border-top: 1px dashed #D1D1D1; border-bottom: 1px dashed #D1D1D1; background: #FAFAFA; }

.productlist .listleft .listwrap .listnode .nodeitem .itemname { float: left; padding-left: 21px; width: 80px; font-size: 12px; }

.productlist .listleft .listwrap .listhots { padding: 19px 19px 6px 19px; font-size: 12px; }

.productlist .listleft .listwrap .listhots img { height: 200px; width: 200px; }

.productlist .listleft .listwrap .listhots p { width: 202px; height: 40px; line-height: 40px; text-align: center; }

.productlist .listleft .listwrap .listhots div { width: 202px; height: 35px; text-align: center; }

.productlist .listleft .listwrap .listhots div span { font-size: 14px; color: #DB3962; }

.productlist .listleft .listadwrap { margin-top: 10px; }

.productlist .listleft .listadwrap .listaditem { width: 242px; margin-top: 10px; }

.productlist .listright { float: right; }

.productlist .listright .listselect { padding: 10px 0; width: 920px; border: 1px solid #CECECE; background: #F8F8F8; font-size: 12px; }

.productlist .listright .listselect .selectwrap { width: 900px; margin: 0 auto; height: 40px; border-bottom: 1px dashed #CECECE; }

.productlist .listright .listselect .selectwrap .wraphead { float: left; padding-left: 10px; width: 50px; height: 40px; line-height: 40px; color: #DB3962; }

.productlist .listright .listselect .selectwrap .wrapitem { float: left; height: 40px; line-height: 40px; margin-left: 20px; }

.productlist .listright .listselect .selectwrap .wrapitem span { border-left: 1px solid #000; padding: 0 15px; }

.productlist .listright .listpager { padding: 22px 20px 30px 20px; text-align: right; }

.productlist .listright .listpager span { margin: 0 5px; padding: 0 8px; }

.productlist .listright .listheader { margin-top: 20px; width: 920px; height: 35px; line-height: 35px; border: 1px solid #CECECE; background: url("../img/ProductList/headbg.png"); }

.productlist .listright .listheader .headeritem { display: inline-block; width: 70px; height: 35px; text-align: center; line-height: 35px; float: left; }

.productlist .listright .listheader .headerline { display: inline-block; width: 12px; height: 33px; background: url("../img/ProductList/linebg.png"); float: left; }

.productlist .listright .listwraper { margin-top: 20px; width: 922px; border-top: 1px solid #CECECE; border-left: 1px solid #CECECE; overflow: hidden; }

.productlist .listright .listwraper .wraperitem { float: left; width: 307px; height: 291px; border-right: 1px solid #CECECE; border-bottom: 1px solid #CECECE; }

.productlist .listright .listwraper .wraperitem .itemimg { margin: 0 auto; width: 200px; height: 210px; display: block; }

.productlist .listright .listwraper .wraperitem .itemimg img { width: 200px; height: 200px; border: none; margin: 10px; }

.productlist .listright .listwraper .wraperitem .itemname { width: 306px; height: 40px; line-height: 30px; font-size: 14px; text-align: center; }

.productlist .listright .listwraper .wraperitem .itemprice { width: 306px; height: 40px; background: #F8F8F8; font-size: 12px; }

.productlist .listright .listwraper .wraperitem .itemprice .pricemarket { padding-left: 13px; width: 153px; height: 40px; line-height: 40px; float: left; }

.productlist .listright .listwraper .wraperitem .itemprice .pricemember { float: right; padding-right: 13px; width: 140px; height: 40px; line-height: 40px; text-align: right; }

.productlist .listright .listwraper .wraperitem .itemprice .pricemember span { font-size: 14px; color: #DB3962; }
