.login { background: url("../img/reg/login.jpg") no-repeat; height: 588px; width: 100%; background-size: cover; background-position: center; }

.login .mainright { width: 518px; height: 588px; float: right; }

.login .mainright .loginnamehead { margin-top: 112px; width: 385px; height: 25px; font-size: 14px; text-align: right; }

.login .mainright .loginnamehead a { color: #DB3962; }

.login .mainright .loginnameinput { margin-top: 43px; width: 390px; height: 30px; color: #ccc; }

.login .mainright .loginnameinput .loginname { margin-left: 150px; width: 150px; padding: 1px 3px; border: none; height: 28px; line-height: 28px; font-size: 14px; overflow: hidden; }

.login .mainright .loginnameerror { margin-top: 3px; margin-left: 150px; width: 200px; height: 18px; color: #DB3962; }

.login .mainright .loginpassinput { margin-top: 3px; width: 390px; height: 30px; }

.login .mainright .loginpassinput .loginpass { margin-left: 150px; width: 150px; padding: 1px 3px; border: none; height: 28px; line-height: 28px; font-size: 14px; overflow: hidden; }

.login .mainright .loginpasserror { margin-top: 3px; margin-left: 150px; width: 243px; height: 18px; color: #DB3962; }

.login .mainright .loginautoitem { margin-top: 2px; width: 390px; height: 35px; font-size: 14px; }

.login .mainright .loginautoitem .loginautobox { margin-left: 55px; width: 22px; height: 24px; float: left; }

.login .mainright .loginautoitem .loginautoleft { float: left; width: 192px; height: 24px; line-height: 26px; }

.login .mainright .loginautoitem .loginautoright { float: left; width: 70px; height: 24px; line-height: 26px; }

.login .mainright .loginbutnitem { margin-left: 60px; width: 321px; height: 41px; background: url("../img/reg/loginbutn.png") no-repeat; cursor: pointer; }

.login .mainright .loginiconitem { margin-left: 49px; margin-top: 46px; width: 330px; height: 75px; text-align: center; }
